// CSS Reset
@import "reset";

//******************************
// 		SCSS Variables
//******************************

$midnight-blue-dark: #0d1f3a;
$dark-blue: #112c4c;
$turquoise: #64ffda;
$purple: #602080;
$magenta: #d63cd6;
$white: #ffffff;
$grey: #757e98;
$sky-blue: #47cff9;

// $color-background: $dark-blue;
// $color-navlinks: $sky-blue;
// $color-text: $white;
// $color-heading: $turquoise;
// $color-loading: $darker-blue;
// $color-highlight: $turquoise;
// $color-border: $midnight-blue;
// $color-medialinks: $sky-blue;
// $color-bullets: $grey;
// $color-hover: $white;
$color-link: $magenta;
$color-link-hover: $white;
$color-accent: $dark-blue;
$color-background: $midnight-blue-dark;

/******************************
		Base Properties
*******************************/
html {
  /* Fluid typography scaling over responsive*/
  /* Max root size = 16px, min root size = 14px*/
  /* Max viewport width = 1600px, min width = 320px*/
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
}

body {
  /*Overscroll-behavior eliminates scroll bounce*/
  /*overscroll-behavior: none;*/
  // background: $color-background;
  margin: 0;
  // Overflow hidden stops page from moving at all
  overflow: hidden;
  background: $color-background;
  font-weight: 300;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  transition: 0.5s ease;
  font: inherit;
  text-align: center;
  line-height: 1.4em;
  color: $color-link;
}

a:hover {
  color: $color-link-hover;
}

a:visited {
  color: $color-link;
}

.container {
  width: 100%;
  height: 100vh;
}

.sidebar-layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.main {
  height: 100%;
  flex: 1;
}

.two-column {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li,
p {
  letter-spacing: 0.2px;
}

.activeLink {
  color: #ffffff;
}

.inline-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font: inherit;
  font-weight: 400;
  font-size: 0.8em;
  padding: 10px 15px;
  border-radius: 23px;
  border: 0;
  transition: 0.5s ease;
  background: $sky-blue;
  color: $midnight-blue-dark;

  &:hover {
    background: $white;
  }
}

/******************************
		  Top Navigation
*******************************/

.navbar-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 65px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $color-accent;
  font-size: 1rem;
  color: $sky-blue;

  i {
    font-size: 1.6em;
  }

  &-item {
    font-size: 0.9em;
    padding: 0 10px;
    margin: 5px 5px;
  }
}

.item-white {
  color: $white;
}

/******************************
		  Side Navigation
*******************************/

.navbar-side {
  position: relative;
  top: 0;
  left: 0;
  width: 65px;
  height: 100%;
  border-right: 1px solid $color-accent;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
  }

  &-link {
    padding: 30px 5px;
  }
}
