// CSS Reset
@import "reset";

//******************************
// 		SCSS Variables
//******************************

$dark-blue: #0d1f3a;
$sky-blue: #47cff9;
$turquoise: #64ffda;
$darker-blue: #09172c;
$white: #ffffff;
$midnight-blue: #112c4c;
$grey: #757e98;

$color-background: $dark-blue;
$color-navlinks: $sky-blue;
$color-text: $white;
$color-heading: $turquoise;
$color-loading: $darker-blue;
$color-highlight: $turquoise;
$color-border: $midnight-blue;
$color-medialinks: $sky-blue;
$color-bullets: $grey;
$color-hover: $white;

/******************************
		Base Properties
*******************************/

html {
  /* Fluid typography scaling over responsive*/
  /* Max root size = 16px, min root size = 14px*/
  /* Max viewport width = 1600px, min width = 320px*/
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
}

body {
  /*Overscroll-behavior eliminates scroll bounce*/
  /*overscroll-behavior: none;*/
  // background: $color-background;
  margin: 0;
  // Overflow hidden stops page from moving at all
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s ease;
  font: inherit;
  text-align: center;
  line-height: 1.4em;
}

a:hover {
  color: $color-hover !important;
}

a:visited {
  color: inherit;
}

.container {
  width: 100%;
  height: 100vh;
  background: #222;
}

.two-column {
  width: 100%;
  height: 100%;
  display: flex;
}

.main {
  height: 100%;
  flex: 1;
  background: #666;
}

// .page {
//   width: 100%;
//   min-height: 100vh;
//   background: $color-background;
//   font-family: "Raleway";
//   font-size: 0.95rem;
//   font-weight: 200;
//   color: $color-heading;
//   // padding: 0px 40px;
//   position: relative;
// }

// .container {
//   /*Max-width so that container doesn't stretch too much*/
//   /*And to set set margin auto for centering horizontally*/
//   max-width: 900px;
//   // min-height: 100vh;
//   width: 88%;
//   margin: auto;
//   min-height: 100vh;
//   /*Flex box to vertically center text div*/
//   /*And left align the content*/
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   /*Parent font size = 2.5 * 16 (root) = 40px*/
//   font-size: 2.5rem;

//   > h2 {
//     width: 100%;
//     margin-top: 0.25em;
//     margin-bottom: 1.5em;
//     font-size: 0.75em;
//     font-weight: 500;
//   }
// }

// .contentContainer {
//   position: relative;
//   width: 100%;
//   min-height: 400px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
//   border-bottom: 1px solid $color-border;

//   p {
//     font-size: 0.47em;
//     color: $color-text;
//     line-height: 1.4em;
//     margin-bottom: 20px;
//   }
// }

// .leftColumn {
//   width: 60%;
//   max-width: 480px;
// }

// .highlight {
//   color: $color-highlight;
//   font-weight: 400;
// }

// .image {
//   width: 200px;
//   margin-top: 0px;
//   margin-left: 50px;
//   height: 250px;
//   border: 1px solid $turquoise;

//   img {
//     width: 100%;
//   }
// }

li,
p {
  letter-spacing: 0.2px;
}

.activeLink {
  color: #ffffff;
}

.inline-div {
  display: flex;
}

/******************************
		  Top Navigation
*******************************/

.navbar-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  width: 100%;
  height: 60px;
  background: #444;
  font-size: 1rem;

  &-logo {
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 400;
  }

  &-link {
    padding: 0 10px;
    margin: 5px 15px;
  }
}

/******************************
		  Side Navigation
*******************************/

.navbar-side {
  position: relative;
  top: 0;
  left: 0;
  width: 65px;
  height: 100%;
  background: #555;

  nav {
    display: flex;
    flex-direction: column;
  }

  &-link {
    padding: 30px 5px;
  }
}
